<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafolio Andrés Hércules</title>
    <link rel="shortcut icon" href="/static/css/img/logo-esen.jpg">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<!--Filtros-->

<body>
    <div id="esen">
        <a href="https://www.esen.edu.sv/" target="Blank">
            <img style="float: right;" src="/static/css/img/logo-esen.jpg" alt="ESEN" height="5%" width="5%">
        </a>
    </div>
    <h1>Andrés Hércules</h1>
    <h2>PORTFOLIO</h2>
    <div id="myBtnContainer">
        <button class="btn active" onclick="filterSelection('all')"> Mostrar todos</button>
        <button class="btn" onclick="filterSelection('contacts')"> Contactos</button>
        <button class="btn" onclick="filterSelection('volunteer')"> Voluntariado</button>
        <button class="btn" onclick="filterSelection('interests')"> Interéses</button>
    </div>

    <!-- Aquí empieza portafolio -->
    <!--Contactos-->
    <div class="row">
        <div class="column contacts">
            <div class="content">
                <a href="mailto:baylagas@esen.edu.sv" target="Blank"><img src="/static/css/img/balbino.jpg"
                        alt="Balbino Aylagas" style="width:95%"></a>
                <h4>Balbino Aylagas</h4>
                <p>baylagas@esen.edu.sv</p>
            </div>
        </div>
        <div class="column contacts">
            <div class="content">
                <a href="mailto:eventura@esen.edu.sv" target="Blank"><img src="/static/css/img/jose-elias-ventura.jpg"
                        alt="Elias Ventura" style="width:100%"></a>
                <h4>Elías Ventura</h4>
                <p>eventura@esen.edu.sv</p>
            </div>
        </div>
        <div class="column contacts">
            <div class="content">
                <a href="mailto:jvelasquez@esen.edu.sv" target="Blank"><img
                        src="/static/css/img/Jose-maria-Velasquez.jpg" alt="Jose Maria Velasquez"
                        style="width:100%"></a>
                <h4>José María Velásquez</h4>
                <p>jvelasquez@esen.edu.sv</p>
            </div>
        </div>
        <!--Voluntariados-->
        <div class="column volunteer">
            <div class="content">
                <a href="https://www.facebook.com/ToolsForYouthSV/" target="Blank"><img src="/static/css/img/TFY.jpg"
                        alt="Tools for Youth" style="width:100%"></a>
                <h4>Tools for Youth</h4>
                <p>2020 - Actualidad</p>
            </div>
        </div>
        <div class="column volunteer">
            <div class="content">
                <a href="https://m.facebook.com/Ra%C3%ADces-ESEN-115234639851994/?__tn__=%2Cg" target="Blank"><img
                        src="/static/css/img/raices.png" alt="RAICES ESEN" style="width:100%"></a>
                <h4>RAICES ESEN</h4>
                <p>2020 - 2020</p>
            </div>
        </div>
        <div class="column volunteer">
            <div class="content">
                <a href="https://www.facebook.com/Talk-ESEN-116146163086846/" target="Blank"><img
                        src="/static/css/img/talkesen.png" alt="TALK ESEN" style="width:100%"></a>
                <h4>TALK ESEN</h4>
                <p>2020 - 2020</p>
            </div>
        </div>
        <!--Intereses-->
        <div class="column interests">
            <div class="content">
                <img src="/static/css/img/guitar.jpg" alt="Guitarra" style="width:100%" height="">
                <h4>Tocar Guitarra</h4>
            </div>
        </div>
        <div class="column interests">
            <div class="content">
                <img src="/static/css/img/basket.jpg" alt="Basketball" style="width:100%">
                <h4>Jugar Basketball</h4>
            </div>
        </div>
        <div class="column interests">
            <div class="content">
                <img src="/static/css/img/globo.jpg" alt="Mundo" style="width:100%">
                <h4>Conocer el Mundo</h4>
            </div>
        </div>
        <!-- Finaliza portafolio-->
    </div>
    <br>
    <h2>Contáctame</h2>
    <ul>
        <li><a href="mailto:andres.hercules@gmail.com" target="Blank"><b>Correo:
                </b>andres.hercules@gmail.com</a>
        </li>
        <li><a href="https://www.instagram.com/andresh_2000/" target="Blank"><b>Instagram: </b>andresh_2000</a>
        </li>
        <li><a href="https://www.facebook.com/andres.hercules.75/" target="Blank"><b>Facebook: </b>Andrés
                Hércules</a></li>
    </ul>
</body>
<!--Javascript-->
<script src="/static/script/script.js"></script>

</html>